CDC-Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>6940c557-0166-1000-70c2-f547613f93c9</groupId>
    <name>CDC-Template</name>
    <snippet>
        <connections>
            <id>8299e495-2ad8-3f53-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>22fb7196-4228-3fb8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>6a07be59-570f-3e49-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8de59146-3def-3ea5-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>af282620-4cb7-33fe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>f9a13f93-915e-379c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8eef79b6-5f5a-3206-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>0da0a8d7-9c05-3a32-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>af282620-4cb7-33fe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5b8bc2fd-ea59-31fc-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>6a07be59-570f-3e49-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>0da0a8d7-9c05-3a32-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5d30c9e3-235b-3a6a-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>f9a13f93-915e-379c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7388539a-55c9-3f0f-0000-000000000000</groupId>
                <id>21373628-0e77-3825-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>4e4f506e-7adf-3d63-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hive-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>hive-db-connect-url</key>
                    <value>
                        <name>hive-db-connect-url</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-config-resources</key>
                    <value>
                        <name>hive-config-resources</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-db-user</key>
                    <value>
                        <name>hive-db-user</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-db-password</key>
                    <value>
                        <name>hive-db-password</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-max-wait-time</key>
                    <value>
                        <name>hive-max-wait-time</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-max-total-connections</key>
                    <value>
                        <name>hive-max-total-connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                    <value>
                        <name>Kerberos Principal</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                    <value>
                        <name>Kerberos Keytab</name>
                    </value>
                </entry>
            </descriptors>
            <name>TestHive</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>hive-db-connect-url</key>
                    <value>jdbc:hive2://tie1drthdpmpr01.cli.ad:2181,tie1drthdpmpr02.cli.ad:2181,tie1drthdpmpr03.cli.ad:2181/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2</value>
                </entry>
                <entry>
                    <key>hive-config-resources</key>
                    <value>/mnt/tie1drthdpepr04.cli.ad/hiveconf/hive-site.xml</value>
                </entry>
                <entry>
                    <key>hive-db-user</key>
                    <value>mpillai</value>
                </entry>
                <entry>
                    <key>hive-db-password</key>
                </entry>
                <entry>
                    <key>hive-max-wait-time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>hive-max-total-connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.dbcp.hive.HiveConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>51802eba-05e4-3522-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
            </descriptors>
            <name>ORADWPRO</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:oracle:thin:@tie1dartorapr01.cli.ad:1521/ORADWPRO</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>oracle.jdbc.OracleDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/tmp/ojdbc6.jar</value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>PS_APP_USER</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>af282620-4cb7-33fe-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <position>
                <x>1283.5195655822758</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>
                            <name>dbf-normalize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>
                            <name>dbf-user-logical-types</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>51802eba-05e4-3522-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>SELECT * FROM dw_owner.usage_revenue_data where UPDATE_DATE&gt; timestamp '${max_update_date}'</value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteSQLForIncrementLoad</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
            <id>f9a13f93-915e-379c-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <position>
                <x>703.4215643069342</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max_update_date</key>
                        <value>
                            <name>max_update_date</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>max_update_date</key>
                        <value>(.*)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>StoreLatestDateToAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>0da0a8d7-9c05-3a32-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <position>
                <x>1283.5195655822758</x>
                <y>265.35066635906696</y>
            </position>
            <bundle>
                <artifact>nifi-hive-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>hive-stream-metastore-uri</key>
                        <value>
                            <name>hive-stream-metastore-uri</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-config-resources</key>
                        <value>
                            <name>hive-config-resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-database-name</key>
                        <value>
                            <name>hive-stream-database-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-table-name</key>
                        <value>
                            <name>hive-stream-table-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-partition-cols</key>
                        <value>
                            <name>hive-stream-partition-cols</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-autocreate-partition</key>
                        <value>
                            <name>hive-stream-autocreate-partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-max-open-connections</key>
                        <value>
                            <name>hive-stream-max-open-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-heartbeat-interval</key>
                        <value>
                            <name>hive-stream-heartbeat-interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-transactions-per-batch</key>
                        <value>
                            <name>hive-stream-transactions-per-batch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-records-per-transaction</key>
                        <value>
                            <name>hive-stream-records-per-transaction</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-stream-call-timeout</key>
                        <value>
                            <name>hive-stream-call-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>hive-stream-metastore-uri</key>
                        <value>thrift://tie1drthdpmpr02.cli.ad:9083</value>
                    </entry>
                    <entry>
                        <key>hive-config-resources</key>
                        <value>/mnt/tie1drthdpepr04.cli.ad/hiveconf/hive-site.xml</value>
                    </entry>
                    <entry>
                        <key>hive-stream-database-name</key>
                        <value>az_ps</value>
                    </entry>
                    <entry>
                        <key>hive-stream-table-name</key>
                        <value>usage_revenue_data_stg</value>
                    </entry>
                    <entry>
                        <key>hive-stream-partition-cols</key>
                    </entry>
                    <entry>
                        <key>hive-stream-autocreate-partition</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>hive-stream-max-open-connections</key>
                        <value>8</value>
                    </entry>
                    <entry>
                        <key>hive-stream-heartbeat-interval</key>
                        <value>60</value>
                    </entry>
                    <entry>
                        <key>hive-stream-transactions-per-batch</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>hive-stream-records-per-transaction</key>
                        <value>500000</value>
                    </entry>
                    <entry>
                        <key>hive-stream-call-timeout</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>LoadIncrementsToHiveStage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hive.PutHiveStreaming</type>
        </processors>
        <processors>
            <id>21373628-0e77-3825-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <position>
                <x>12.850337706330265</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-hive-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hive Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.hive.HiveDBCPService</identifiesControllerService>
                            <name>Hive Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-query</key>
                        <value>
                            <name>hive-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-fetch-size</key>
                        <value>
                            <name>hive-fetch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-max-rows</key>
                        <value>
                            <name>hive-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-max-frags</key>
                        <value>
                            <name>hive-max-frags</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-output-format</key>
                        <value>
                            <name>hive-output-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-normalize-avro</key>
                        <value>
                            <name>hive-normalize-avro</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-header</key>
                        <value>
                            <name>csv-header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-alt-header</key>
                        <value>
                            <name>csv-alt-header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-delimiter</key>
                        <value>
                            <name>csv-delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-quote</key>
                        <value>
                            <name>csv-quote</name>
                        </value>
                    </entry>
                    <entry>
                        <key>csv-escape</key>
                        <value>
                            <name>csv-escape</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-charset</key>
                        <value>
                            <name>hive-charset</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hive Database Connection Pooling Service</key>
                        <value>4e4f506e-7adf-3d63-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>hive-query</key>
                        <value>select max(update_date) from az_ps.usage_revenue_data</value>
                    </entry>
                    <entry>
                        <key>hive-fetch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive-max-rows</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive-max-frags</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>hive-output-format</key>
                        <value>CSV</value>
                    </entry>
                    <entry>
                        <key>hive-normalize-avro</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>csv-header</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>csv-alt-header</key>
                    </entry>
                    <entry>
                        <key>csv-delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>csv-quote</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>csv-escape</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>hive-charset</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>600 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>RetrieveLatestUpdateDateFromHive</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hive.SelectHiveQL</type>
        </processors>
        <processors>
            <id>22fb7196-4228-3fb8-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>263.8218295574188</y>
            </position>
            <bundle>
                <artifact>nifi-hive-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hive Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.hive.HiveDBCPService</identifiesControllerService>
                            <name>Hive Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-batch-size</key>
                        <value>
                            <name>hive-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hive-charset</key>
                        <value>
                            <name>hive-charset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>statement-delimiter</key>
                        <value>
                            <name>statement-delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hive Database Connection Pooling Service</key>
                        <value>4e4f506e-7adf-3d63-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>hive-batch-size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>hive-charset</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>statement-delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteMerge</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ffffff</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.hive.PutHiveQL</type>
        </processors>
        <processors>
            <id>6a07be59-570f-3e49-0000-000000000000</id>
            <parentGroupId>7388539a-55c9-3f0f-0000-000000000000</parentGroupId>
            <position>
                <x>703.4215643069342</x>
                <y>266.8112704753876</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>MERGE INTO usage_revenue_data AS T 
USING usage_revenue_data_stg AS S
ON T.MOVE_NUM = S.MOVE_NUM
WHEN MATCHED THEN UPDATE SET 
pool_id = S.pool_id,
pool_name = S.pool_name,
customer_class = S.customer_class,
bill_to_type = S.bill_to_type,
usage_category = S.usage_category,
line_scac = S.line_scac,
line_name = S.line_name,
location_type = S.location_type,
cycle_start_region = S.cycle_start_region,
cycle_start_area = S.cycle_start_area,
cycle_start_location = substr(S.cycle_start_location,instr(S.cycle_start_location,'{')+1,instr(S.cycle_start_location,'}') - instr(S.cycle_start_location,'{')-1),
cycle_end_location = substr(S.cycle_end_location,instr(S.cycle_end_location,'{')+1,instr(S.cycle_end_location,'}') - instr(S.cycle_end_location,'{')-1),
activity_type = S.activity_type,
start_equip_config = S.start_equip_config,
is_trac_connect = S.is_trac_connect,
cycle_days = CASE WHEN S.off_hire_date IS NULL THEN datediff( current_date, S.on_hire_date) ELSE  datediff( S.off_hire_date, S.on_hire_date)+1  END,
billable_days = S.billable_days,
optimistic_billable_days = S.optimistic_billable_days,
revenue_for_billable_days = S.revenue_for_billable_days,
bill_to_acct = S.bill_to_acct,
chassis_id = S.chassis_id,
equip_group_name = S.equip_group_name,
equip_type_name = S.equip_type_name,
on_hire_date = S.on_hire_date,
src_off_hire_date = S.off_hire_date,
off_hire_date = NVL(S.off_hire_date, DATE_ADD(current_date, -1)),
bill_from_date = S.bill_from_date,
bill_to_date = S.bill_to_date,
multi_move_credit = S.multi_move_credit,
container_id = S.container_id,
cycle_end_container = S.cycle_end_container,
cycle_start_status = S.cycle_start_status,
cycle_end_status = S.cycle_end_status,
shipment_method = S.shipment_method,
contributor = S.contributor,
cycle_start_motor_carrier_acct = S.cycle_start_motor_carrier_acct,
cycle_start_motor_carrier = S.cycle_start_motor_carrier,
cycle_end_motor_carrier = S.cycle_end_motor_carrier,
chassis_using_line = S.chassis_using_line,
booking_number = S.booking_number,
consignee = S.consignee,
bill_lading_number = S.bill_lading_number,
using_line_acct = S.using_line_acct,
billing_rate = S.billing_rate,
net_pretax_amount = S.net_pretax_amount,
tax_rate = S.tax_rate,
tax_exempt = S.tax_exempt,
sales_tax = S.sales_tax,
net_aftertax_amount = S.net_aftertax_amount,
posted_date = S.posted_date,
customer_code = S.customer_code,
import_export = S.import_export,
free_days_type = S.free_days_type,
cycle_start_comments = S.cycle_start_comments,
cycle_end_comments = S.cycle_end_comments,
rack_rate = S.rack_rate,
rate_qualifier = S.rate_qualifier,
responsible_party = S.responsible_party,
derivation_scenario = S.derivation_scenario,
bill_to_override = S.bill_to_override,
projected_days = S.projected_days,
projected_revenue = S.projected_revenue,
cycle_status = S.cycle_status,
debit_credit = S.debit_credit,
create_date = S.create_date,
update_date = S.update_date,
process_id = S.process_id,
consec_cycle_groupid = S.consec_cycle_groupid
WHEN NOT MATCHED THEN INSERT VALUES (
S.pool_id,
S.pool_name,
S.customer_class,
S.bill_to_type,
S.usage_category,
S.line_scac,
S.line_name,
S.location_type,
S.cycle_start_region,
S.cycle_start_area,
substr(S.cycle_start_location,instr(S.cycle_start_location,'{')+1,instr(S.cycle_start_location,'}') - instr(S.cycle_start_location,'{')-1),
substr(S.cycle_end_location,instr(S.cycle_end_location,'{')+1,instr(S.cycle_end_location,'}') - instr(S.cycle_end_location,'{')-1),
S.activity_type,
S.start_equip_config,
S.is_trac_connect,
CASE WHEN S.off_hire_date IS NULL THEN datediff( current_date, S.on_hire_date) ELSE  datediff( S.off_hire_date, S.on_hire_date)+1  END,
S.billable_days,
S.optimistic_billable_days,
S.revenue_for_billable_days,
S.bill_to_acct,
S.chassis_id,
S.equip_group_name,
S.equip_type_name,
S.on_hire_date,
S.off_hire_date,
NVL(S.off_hire_date, DATE_ADD(current_date, -1)),
S.bill_from_date,
S.bill_to_date,
S.multi_move_credit,
S.container_id,
S.cycle_end_container,
S.cycle_start_status,
S.cycle_end_status,
S.shipment_method,
S.contributor,
S.cycle_start_motor_carrier_acct,
S.cycle_start_motor_carrier,
S.cycle_end_motor_carrier,
S.chassis_using_line,
S.booking_number,
S.consignee,
S.bill_lading_number,
S.using_line_acct,
S.billing_rate,
S.net_pretax_amount,
S.tax_rate,
S.tax_exempt,
S.sales_tax,
S.net_aftertax_amount,
S.posted_date,
S.customer_code,
S.import_export,
S.free_days_type,
S.cycle_start_comments,
S.cycle_end_comments,
S.rack_rate,
S.rate_qualifier,
S.responsible_party,
S.derivation_scenario,
S.bill_to_override,
S.projected_days,
S.projected_revenue,
S.cycle_status,
S.move_num,
S.debit_credit,
S.create_date,
S.update_date,
S.process_id,
S.consec_cycle_groupid);</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>MERGE INTO az_ps.usage_revenue_data AS T USING az_ps.usage_revenue_data_stg AS S ON T.MOVE_NUM = S.MOVE_NUM WHEN MATCHED THEN UPDATE SET pool_id = S.pool_id, pool_name = S.pool_name, customer_class = S.customer_class, bill_to_type = S.bill_to_type, usage_category = S.usage_category, line_scac = S.line_scac, line_name = S.line_name, location_type = S.location_type, cycle_start_region = S.cycle_start_region, cycle_start_area = S.cycle_start_area, cycle_start_location = substr(S.cycle_start_location,instr(S.cycle_start_location,'{')+1,instr(S.cycle_start_location,'}') - instr(S.cycle_start_location,'{')-1), cycle_end_location = substr(S.cycle_end_location,instr(S.cycle_end_location,'{')+1,instr(S.cycle_end_location,'}') - instr(S.cycle_end_location,'{')-1), activity_type = S.activity_type, start_equip_config = S.start_equip_config, is_trac_connect = S.is_trac_connect, cycle_days = CASE WHEN S.off_hire_date IS NULL THEN datediff( current_date, S.on_hire_date) ELSE datediff( S.off_hire_date, S.on_hire_date)+1 END, billable_days = S.billable_days, optimistic_billable_days = S.optimistic_billable_days, revenue_for_billable_days = S.revenue_for_billable_days, bill_to_acct = S.bill_to_acct, chassis_id = S.chassis_id, equip_group_name = S.equip_group_name, equip_type_name = S.equip_type_name, on_hire_date = S.on_hire_date, src_off_hire_date = S.off_hire_date, off_hire_date = NVL(S.off_hire_date, DATE_ADD(current_date, -1)), bill_from_date = S.bill_from_date, bill_to_date = S.bill_to_date, multi_move_credit = S.multi_move_credit, container_id = S.container_id, cycle_end_container = S.cycle_end_container, cycle_start_status = S.cycle_start_status, cycle_end_status = S.cycle_end_status, shipment_method = S.shipment_method, contributor = S.contributor, cycle_start_motor_carrier_acct = S.cycle_start_motor_carrier_acct, cycle_start_motor_carrier = S.cycle_start_motor_carrier, cycle_end_motor_carrier = S.cycle_end_motor_carrier, chassis_using_line = S.chassis_using_line, booking_number = S.booking_number, consignee = S.consignee, bill_lading_number = S.bill_lading_number, using_line_acct = S.using_line_acct, billing_rate = S.billing_rate, net_pretax_amount = S.net_pretax_amount, tax_rate = S.tax_rate, tax_exempt = S.tax_exempt, sales_tax = S.sales_tax, net_aftertax_amount = S.net_aftertax_amount, posted_date = S.posted_date, customer_code = S.customer_code, import_export = S.import_export, free_days_type = S.free_days_type, cycle_start_comments = S.cycle_start_comments, cycle_end_comments = S.cycle_end_comments, rack_rate = S.rack_rate, rate_qualifier = S.rate_qualifier, responsible_party = S.responsible_party, derivation_scenario = S.derivation_scenario, bill_to_override = S.bill_to_override, projected_days = S.projected_days, projected_revenue = S.projected_revenue, cycle_status = S.cycle_status, debit_credit = S.debit_credit, create_date = S.create_date, update_date = S.update_date, process_id = S.process_id, consec_cycle_groupid = S.consec_cycle_groupid WHEN NOT MATCHED THEN INSERT VALUES ( S.pool_id, S.pool_name, S.customer_class, S.bill_to_type, S.usage_category, S.line_scac, S.line_name, S.location_type, S.cycle_start_region, S.cycle_start_area, substr(S.cycle_start_location,instr(S.cycle_start_location,'{')+1,instr(S.cycle_start_location,'}') - instr(S.cycle_start_location,'{')-1), substr(S.cycle_end_location,instr(S.cycle_end_location,'{')+1,instr(S.cycle_end_location,'}') - instr(S.cycle_end_location,'{')-1), S.activity_type, S.start_equip_config, S.is_trac_connect, CASE WHEN S.off_hire_date IS NULL THEN datediff( current_date, S.on_hire_date) ELSE datediff( S.off_hire_date, S.on_hire_date)+1 END, S.billable_days, S.optimistic_billable_days, S.revenue_for_billable_days, S.bill_to_acct, S.chassis_id, S.equip_group_name, S.equip_type_name, S.on_hire_date, S.off_hire_date, NVL(S.off_hire_date, DATE_ADD(current_date, -1)), S.bill_from_date, S.bill_to_date, S.multi_move_credit, S.container_id, S.cycle_end_container, S.cycle_start_status, S.cycle_end_status, S.shipment_method, S.contributor, S.cycle_start_motor_carrier_acct, S.cycle_start_motor_carrier, S.cycle_end_motor_carrier, S.chassis_using_line, S.booking_number, S.consignee, S.bill_lading_number, S.using_line_acct, S.billing_rate, S.net_pretax_amount, S.tax_rate, S.tax_exempt, S.sales_tax, S.net_aftertax_amount, S.posted_date, S.customer_code, S.import_export, S.free_days_type, S.cycle_start_comments, S.cycle_end_comments, S.rack_rate, S.rate_qualifier, S.responsible_party, S.derivation_scenario, S.bill_to_override, S.projected_days, S.projected_revenue, S.cycle_status, S.move_num, S.debit_credit, S.create_date, S.update_date, S.process_id, S.consec_cycle_groupid);truncate table az_ps.usage_revenue_data_stg;</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>FormulateMergeCommand</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
    </snippet>
    <timestamp>10/12/2018 12:09:36 CDT</timestamp>
</template>
